<?xml version="1.0"?>

<launch>

  <arg name="namespace" default="ownship" />
  <arg name="front_camera" default="false"/>
  <arg name="gps" default="false"/>
  <arg name="imu" default="false"/>
  <arg name="wind" default="false"/> 
  <arg name="p3d" default="false"/> 
  <arg name="radar" default="false"/> 

  <arg name="x" default="0.0" />
  <arg name="y" default="0.0" />
  <arg name="z" default="0.1" />
  <arg name="P" default="0" />
  <arg name="R" default="0" />
  <arg name="Y" default="0" />
  <arg name="ownship" default="true" />

  <!-- Load robot model -->
  <arg name="urdf" default="$(find autonoship_simulation)/xacro/autonoship_module.xacro"/>

  <!-- Spawn a ship in Gazebo -->
  <group ns="$(arg namespace)">
    <param name="$(arg namespace)_description" command="$(find xacro)/xacro --inorder $(arg urdf) ownship:=$(arg ownship) wind:=$(arg wind) front_camera:=$(arg front_camera) lidar:=false gps:=$(arg gps) imu:=$(arg imu) p3d:=$(arg p3d) radar:=$(arg radar)"/>

    <node name="spawn_$(arg namespace)" pkg="gazebo_ros" type="spawn_model"
	args="-x $(arg x) -y $(arg y) -z $(arg z)
	      -R $(arg R) -P $(arg P) -Y $(arg Y)
	      -urdf -param $(arg namespace)_description -model $(arg namespace)"/>

    <node pkg="robot_state_publisher" type="robot_state_publisher" name="$(arg namespace)_state_publisher">
      <param name="publish_frequency" type="double" value="10.0" />
      <remap from="robot_description" to="$(arg namespace)_description" />
      <param name="tf_prefix" value="/$(arg namespace)"/>
    </node>

    <node pkg="joint_state_publisher" type="joint_state_publisher" name="$(arg namespace)_joint_state_publisher">
      <param name="publish_frequency" type="double" value="10.0" />
      <remap from="robot_description" to="$(arg namespace)_description" />
    </node>

    <group if="$(arg ownship)">
      <include file="$(find autonoship_simulation)/launch/autonoship_keys2rudder.launch" /> 
    </group>

  </group>

</launch>
